@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&display=swap');


  table{
    border-collapse: collapse;
    width:500px;
    background:#111;
    border:2px solid #00ff88;
    box-shadow:0 0 15px rgba(0,255,136,0.4);
  }

  th{
    background:#00ff88;
    color:#000;
    font-weight:bold;
    padding:12px;
    border:1px solid #00ff88;
  }

  td{
    color:#e6ffe6;
    padding:12px;
    border:1px solid #00ff88;
    text-align:center;
  }

  tr:nth-child(even){
    background:#0f1a0f;
  }

  tr:hover{
    background:#003d1f;
    transition:0.3s;
  }